:root{
    /* mettre les couleurs du theme de mon site */
    --white:#fff;
    --black:#000;
    --couleur-principal_sombre:#2d2e2ece;
    --box-s:#2525259f;
    --couleur-secondaire:#A8A8A8;
    --couleur-secondaire_claire:#c7c7c7;
    --gris: rgb(100, 100, 100);
    --fond-site: #F2F2F2;


    /* C'est pour la taille du texte (plus simple pour les calculs rem) */
    --base-px:10px;
    --grid-gap:2rem;
    --transition_time: 0.5s;
}